@import "tailwindcss";

:root {
  /* Font configuration */
  --font-main-family: var(--font-bai-jamjuree), sans-serif;
  --font-main-size: 16px;
  --font-main-weight: 500;

  /* Colors */
  --background: #f8f8ff;
  --foreground: #171717;
  --mtr-blue: #062F6E;
  --mtr-gray: #AFAFAF;
  
  --mtr-color-overview: #6D6D6D;

  --mtr-color-moisture: #155DFC;
  --mtr-color-temperature: #F54900;
  --mtr-color-battery-red: #E43D23;
  --mtr-color-battery-yellow: #FCB957;
  --mtr-color-battery-green: #2AB767;
  --mtr-color-online: #00A63E;
  --mtr-color-button-on: #00A63E;
  --mtr-color-button-off: #E43D23;

  --marker-outer-size: 64px;
  --marker-inner-size: 50px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

body {
  font-family: var(--font-main-family);
  font-size: var(--font-main-size);
  font-weight: var(--font-main-weight);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
